@page
@model WebApplication1.Pages.Admin.HomeModel
@{
    ViewData["Title"] = "Client Home";
}

<h2>@ViewData["Title"]</h2>

@* @if (Model.SuccessMessage != null)
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
} *@

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Client/RegisterEaspSeps">ESAP/SEPS Registration Form</a>
        </li>
    </ul>
</nav>