@page
@model WebApplication1.Pages.Client.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToName" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToName" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToEmail" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToEmail" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToAddress" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToAddress" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToAddress2" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToAddress2" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToAddress2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToCity" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToCity" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToState" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToState" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToState" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipInformation.ShipToZip" class="control-label"></label>
        <input asp-for="ShipInformation.ShipToZip" class="form-control" />
        <span asp-validation-for="ShipInformation.ShipToZip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Place Order" class="btn btn-primary" />
    </div>
</form>
