@page
@model WebApplication1.Pages.Client.HomeModel
@{
    Layout = "~/Pages/Shared/_ClientLayout.cshtml";
    ViewData["Title"] = "Client Home";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Welcome to the client dashboard. Please select an option from the header bar.</p>
</div>
